.links {
  
  margin: 30px;
  list-style-type: none;
  font-size: 20px;
  color:lightslategray;
  font-weight: 500;
  text-decoration: none;

}

.head {
  display: flex;
  list-style-type: none;
  width: 40%;
  padding: 60px;


}
.head1{
  justify-content:center;
  display: flex;
  
}
.container{
  background-color: black;
  padding: auto;
  height: 9vh;
  padding: 5px;
}
.btn-1{
  position: absolute;
  top: 3%;
  left: 90%;
  width: 7%;
  height: 5vh;
  background-color: green;
  color: #fff;
  border-radius: 30px;
}
.color{
  color: green;
}
.text{
  position: absolute;
  top: -1%;
  color: #fff;
}