.links {
  
  margin: 40px;
  list-style-type: none;
  font-size: 20px;
  color:lightslategray;
  font-weight: 500;
  text-decoration: none;

}

.head {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content:between;
  padding: 60px;


}
.head1{
  justify-content:center;
  display: flex;
  
}
.container-1{
  background-color: black;
  padding: auto;
  height: 9vh;
  padding: 5px;
}
.btn-1{
  position: absolute;
  top: 3%;
  left: 90%;
  width: 7%;
  height: 5vh;
  background-color: green;
  color: #fff;
  border-radius: 30px;
}
.color{
  color: green;
}
.text{
  position: absolute;
  top: -1%;
  color: #fff;
}
.header-tel{
  color:lightslategray;
  font-size: 25px;
  
  }
  .header-text{
    color: lightslategray;
    font-size: 17px;
    padding: 30px;
    position: absolute;
    right: 15%;
    left: 65%;
  }
  .btn-2{
    border-radius: 18px;
    position: absolute;
    height: 6vh;
    width:17vh;
    color: #fff;
    left: 100%;
    top: 9%;
    background-color: rgb(129, 127, 255);
    border: none;
  }
  .bg-image{
   width: 40%;
   align-items: end;

  }
  .car{
    position: absolute;
    height: 80vh;
    width: 50%;
    right:-45%;
    left: 49%;
    border-radius: 9%;
    top: 25%;
  }
  .header{
    margin-left: 6%;
    align-items: center;
    position: absolute;
    bottom: 35%;
    font-size:55px;
    color:lightslategrey
  }
  .home-text{
    position: absolute;
    top: 60%;
    left: 7%;
    font-size: 23px;
    color: #4e5d78;
  }
  .home-group{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 7%;

   align-items: center;
   width: 100%;
   
  }

  .vechiles{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  .img1{
    border-radius: 7%;
    margin: 15px;
  }
  .container{
    position: absolute;
    top: 20%;
    justify-content: space-between;
     
  }
  .title1{
    font-size: 25px;
    margin-left: 12%;
  }
  .year1{

    margin-left: 80%;
    margin-top:-10%
  }